body{
    margin: 0 auto;
    width: 100%;
}
header{
    font-family:微软雅黑 sans-serif;
}
#title{
    float: left;
    font-size: 22px;
    vertical-align: 50%;
}
header #login{
     float: right;
    color: #e74f4d;
}
header .nav {
    float: right;
    font-size: 14px;
    margin: 20px;
    display: inline-block;
}
header a:link{
    color: #787b83;
    text-decoration: none;
    padding-bottom: 10px;
    border-bottom: 4px #fff solid;
}
header a:hover{
    color:#e74f4d;
    padding-bottom: 10px;
    border-bottom: 4px #e74f4d solid;
}
div#login span{
    vertical-align:50%;
}
div.part2{
    display:table-cell;
    vertical-align: middle;
    text-align: center;
    color: #767777;
    font-size: 14px;
    width:27%;
    padding: 30px;
}
div.part3{
    width: 1280px;
    background: #ededed;
    font-size: 54px;
    text-align: center;
    color: #a1a1a1;
    padding-top: 20px;
    padding-bottom: 20px;
}
div.part4 img {
    width: 1280px;
}
div.part5{
    width: 1280px;
    height: 500px;
    background: #f8f8f7;
}
div.part5 img{
    border: 25px solid #fff;
    margin: 20px;

}

div.part5-1{
    display: table-cell;
    text-align: center;
}
div.part5 p.part5-ps{
    color: #555;
}
div.part6-1{
    float:right;
    width: 300px;
    line-height: 44px;
    color: #85a0a0;
}
h1 span{
    color: #F40A15;
}
div.part7-1{
    background: #e74f4d;
    color: #eee;
    text-align: center;
    font-size: 21px;
    width: 426px;
    display: table-cell;
}
div.part7-2{
    background: #eee;
    text-align: center;
    font-size: 21px;
    width: 426px;
    display: table-cell;
}
div.part7-3 {
    display:table-cell;
    width: 426px;
}
div.part8{
    margin-top: 140px;
    margin-bottom: 140px;
}
div.part8 h1{
    font-size: 21px;
    text-align: center;
}
div.part8 p{
    font-size: 12px;
    color: #b1b1b1;
    line-height: 44px;
    text-align: center;
}
div.p8-left h2{
    font-size: 14px;
}
div.p8-left{
    width: 458px;
    padding-left: 128px;
    line-height: 44px;
}